
div {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.small{
  font-family: 'Passion One', sans-serif;
  font-weight: 400;
}

#subtitle {
  bottom: 12%;
  font-size: 2.5em;
}

#date {
  top: 22%;
  font-size: 2em;
}

#title {
  top: 50%;
  font-family: 'test_font', sans-serif;
  font-size: 9em;
  font-weight: 900;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  text-align: center;
}

@font-face {

  font-family: 'test_font';
  src: url('Molot.otf');
  font-weight: 900;
  font-style: normal;

}
